// font

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
* { font-family: 'pretendard', sans-serif; color: #fff; }
* { font-family: 'jost', sans-serif; color: #fff; }
*::selection { background: #2F44FF; color: #fff; }



body { overflow-x: hidden; overflow-y: auto ; background: #0a0a0a; word-break: keep-all; }
.main_logo { font-size: 24px; font-weight: 500; color: #fff; }
div b { font-weight: 800; }
.gap { height: 100px; }
.sgap { height: 80px}
.ssgap { height: 50px}
.sssgap { height: 30px}
.ssssgap { height: 20px}
.wfull { width: 100vw; padding: 0 5vw; }
.w1600 { width: 1600px; margin: 0 auto; }
.w1400 { width: 1400px; margin: 0 auto; }
