.gap { height: 100px; }
.sgap { height: 80px}
.ssgap { height: 50px}
.sssgap { height: 30px}
.ssssgap { height: 20px}

.wfull{width: 100vw; padding: 0 100px;}
.w1600{width: 1600px; margin: 0 auto;}
.w1400{width: 1400px; margin: 0 auto;}
