
.main_wrap {
    .main {

        position: relative; filter: grayscale(1);

        .main_visual_video { width: 100vw; height: 100vh; object-fit: cover; }
        .main_title_wrap1 {

            position: absolute; top: 15vh; left: 0; width: 100%; font-size: 5.9vw; color: #fff; line-height: 1.2;
    
            .main_title1-1 { text-align: right; }
            .main_title1-2 { text-align: justify; white-space: nowrap; }
            .main_title1-3 { text-align: left; }
        }
    }
}
