.ourmorement_all_wrap {
    .ourmorement_con_wrap {

        .ourmorement_con {
            text-align: center; align-items: center; height: 100vh; font-size: 100px; color: #fff; font-weight: 600;
.ourmorement_con_in{font-size: 24px; font-weight: 400; padding: 24px 0;}
            .morement_square { width: 300px; height: 100px; border: 16px solid #fff; display: block; margin: 24px auto 16px auto; }
        }
        .morement_01 { padding: 40vh; }
    }
}